<!DOCTYPE html>
<html>
<head>
	<title>Abstract Upload | Innovations CSI SIESGST</title>
	<meta charset="utf-8" />
		<meta name="viewport" content="width = device-width, initial-scale=1" />
		<link
			rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
		/>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="css/styles.css" />
		<link rel="preconnect" href="https://fonts.gstatic.com" />
		<link
			href="https://fonts.googleapis.com/css2?family=Rubik&display=swap"
			rel="stylesheet"
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
		/>
		<link rel="stylesheet" type="text/css" href="assets/css/font-awesome.css" />
		<link
			rel="stylesheet"
			type="text/css"
			href="assets/css/templatemo-art-factory.css"
		/>
</head>
<body>
	<!-- Navbar -->
	<nav class="navbar navbar-expand-md" style="box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06)">
		<div class="container">
			<img src="images/csi_logo.png" class="mr-3">
			<a href="/" class="navbar-brand mr-auto"> INNOVATIONS </a>
			<button
				class="navbar-toggler"
				data-toggle="collapse"
				data-target="#navbarid"
			>
				<span
					><i
						class="fa fa-bars"
						aria-hidden="true"
						style="color: #3f3d56"
					></i
				></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarid">
				<ul class="navbar-nav text-center ml-auto">
					<li class="nav-item">
						<a href="/" class="nav-link">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/home">Team Profile</a>
					</li>
					<li class="nav-item">
						<a href="/logout" class="nav-link">Logout</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<div style="padding: 50px;"></div>
    <% if (!submitted) { %>
    <h2 id="sub-heading" style="text-align: center;">SUBMIT YOUR ABSTRACT</h2>
				<div class="container">
                    <div
                        style="margin: 0 auto;"
						class="col-12 col-md-6 align-self-center justify-content-center"
						style="padding-top: 5%"
					>
						<form id="abstract-form">
                            <label id="status"></label>
							<div class="form-group">
								<label>Upload your file... (max. 10MB)</label>
								<input
									type="file"
									id="upload-file"
									accept="application/pdf"
                                    class="form-control"
									name="file"
									required
								/>
							</div>
                            <button
                                id="submit"
								type="submit"
                                class="btn btn-primary btn-block">
								SUBMIT
							</button>
						</form>
                    </div>
            </div>
    
    <h3 style="text-align: center;"><u>Note:</u></h3>
    <h4 style="text-align: center;">You need to confirm members before submitting your abstract.</h4>
    <% if (!(teamConfirm)) { %>
        <script>
           document.getElementById("abstract-form").addEventListener("submit", function(event){
               event.preventDefault();
               alert("Team confirmation or payment is pending");
           })
        </script>
    <% }else { %>
        <script>
            document.getElementById("abstract-form").addEventListener("submit", function(event){
                event.preventDefault();
                if(confirm("Are you sure you this document as your abstract?\nOnce Submitted it cannot be changed later")){
                    var form = new FormData(document.getElementById('abstract-form'));
                    
                    fetch('/upload', {
							method: 'POST',
							headers: {
							},
							body: form
						})
							.then((response) => response.json())
							.then((data) => {
								if (data.message == 'done') {
									location.replace('/upload');
								} else {
									document.getElementById('status').innerHTML =
										data.message;
								}
							})
							.catch((error) => {
								document.getElementById('status').innerHTML =
									'Server Error!';
					});
                }
            })
        </script>
		<script>
			var uploadField = document.getElementById("upload-file");
	
			uploadField.onchange = function() {
				if(this.files[0].size > 10485760)
				{
					alert("File size cannot be more than 10MB!");
					this.value = "";
				}
				else if(this.files.length > 1)
				{
					console.log(this.files.length);
					alert("Only one file is allowed");
					this.value = "";
				}
				else
				{
					const name = this.files[0].name
					const lastDot = name.lastIndexOf('.');
					if(name.substring(lastDot + 1).toLowerCase() != 'pdf')
					{
						alert("Only PDF file type is allowed");
						this.value = "";
					}
				}
				
			};
		</script>
    <% } %>
    <% }else { %>
        <div class="container">
            <div class="text-center align-middle pt-5">
                <img
                    src="images/complete-icon.png"
                    class="img-fluid"
                    alt="Responsive image"
                />
            </div>
            <h2 style="text-align: center;" class="pt-3" >Abstract Submitted</h2>
    <% } %>

	
</body>
</html>