<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Chat</title>

    <script type="text/javascript">
        function btnChange(x) {
            if(x>0)
            {
                document.getElementsByTagName('button')[0].removeAttribute('disabled')
            }
            else
            {
                document.getElementsByTagName('button')[0].setAttribute('disabled','')
            }
        }
    </script>
</head>
<body style="margin: 0;">
    <div style="display: flex; flex-direction: column; height: 100vh;">
        <div style="flex-grow: 1; overflow-y: none; position: relative; width: 100%;">
            <div id="chats" style="overflow: auto; position: absolute; width: 100%; bottom: 0; max-height: 100%;">
                <div style="padding: 5px 15px;">lodu</div>
            </div>
        </div>
        <div id="input-cont" style="display: flex; flex-direction: row; padding: 10px;">
            <textarea onkeyup="btnChange(this.value.trim().length);" onchange="btnChange(this.value.trim().length);" type="text" name="" id="input" rows="3" style="flex-grow: 1; resize: none;"></textarea>
            <button onclick="sendMessage();" disabled>Send</button>
        </div>
    </div>

    <script>
        function sendMessage() {
            var msg = document.getElementById('input').value.trim();
            if(msg.length>0)
            {
                var element = document.createElement('div');
                element.style.padding = '5px 15px';
                element.innerHTML = msg.split('\n').join('<br>');
                document.getElementById('chats').append(element);
                document.getElementById('input').value = '';
            }
            else
            {
                return;
            }
        }
    </script>
</body>
</html>