<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>


    <title>Admin Broadcast</title>

    <script type="text/javascript">
        function btnChange(x, y) {
            if(x>0)
            {
                document.getElementsByTagName('button')[y].removeAttribute('disabled')
            }
            else
            {
                document.getElementsByTagName('button')[y].setAttribute('disabled','')
            }
        }
    </script>
</head>
<body style="margin: 0;">

    <div id="loading" style="position: fixed; left: 0; top: 0; height: 100%; width: 100%; background: rgba(255, 255, 255, 0.7); display: none; z-index: 100;">
        <span style="position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%);"><h2>Sending...</h2></span>
    </div>

    <h5 class="mt-4">Broadcast Message to All Users</h5>

    <textarea class="mt-2" onkeyup="btnChange(this.value.trim().length, 0);" onchange="btnChange(this.value.trim().length, 0);" type="text" name="" id="input1" rows="3" style="flex-grow: 1; width: 100%;"></textarea>

    <div style="text-align: right;">
        <button class="btn-lg" onclick="sendMessage(1);" disabled>Send</button>
    </div>

    <h5 class="mt-2">Broadcast Message to Users qualified in ROUND 1</h5>

    <textarea class="mt-2" onkeyup="btnChange(this.value.trim().length, 1);" onchange="btnChange(this.value.trim().length, 1);" type="text" name="" id="input2" rows="3" style="flex-grow: 1; width: 100%;"></textarea>

    <div style="text-align: right;">
        <button class="btn-lg" onclick="sendMessage(2);" disabled>Send</button>
    </div>

    <h5 class="mt-2">Broadcast Message to Users Qualified <b class="text-danger">but not paid!</b></h5>

    <textarea class="mt-2" onkeyup="btnChange(this.value.trim().length, 2);" onchange="btnChange(this.value.trim().length, 2);" type="text" name="" id="input3" rows="3" style="flex-grow: 1; width: 100%;"></textarea>

    <div style="text-align: right;">
        <button class="btn-lg" onclick="sendMessage(3);" disabled>Send</button>
    </div>

    <h5 class="mt-2">Broadcast Message to Users Qualified <b class="text-danger">and paid!</b></h5>

    <textarea class="mt-2" onkeyup="btnChange(this.value.trim().length, 3);" onchange="btnChange(this.value.trim().length, 3);" type="text" name="" id="input4" rows="3" style="flex-grow: 1; width: 100%;"></textarea>

    <div style="text-align: right;">
        <button class="btn-lg mb-4" onclick="sendMessage(4);" disabled>Send</button>
    </div>
    
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>

    <script>
        
        const socket = io('/');

        const broadcast = '<%= broadcast %>';

        function htmlEntities(str) {
            return String(str).replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/"/g, '&quot;');
        }

        function sendMessage(mode) {
            var msg = document.getElementById('input' + mode).value.trim();
            if(msg.length>0)
            {
                msg = htmlEntities(msg);

                socket.emit(broadcast, msg.split('\n').join('<br>'), mode, () => {
                    sendAck();
                });

                document.getElementById('loading').style.display = 'block';

                document.getElementById('input' + mode).value = '';
            }
            else
            {
                return;
            }
        }

        function sendAck()
        {
            document.getElementById('loading').style.display = 'none';
        }
    </script>
</body>
</html>