<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>

    <script>
        function resend()
        {
            document.getElementById('loading').style.display = 'block';
            let val = document.getElementById('email').value;
            if(val.length < 10 || !val.includes('.') || !val.includes('@'))
            {
                alert('Please enter valid email address!')
                return;
            }
            let body = 'username=' + encodeURIComponent(val);

            fetch("/forgot-password", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'                 
                },
                body: body
            })
            .then(response => response.json())
            .then(data => {
                console.log(data);
                if(data.message == 0 || data.message == 4 || data.message == 5)
                {
                    document.getElementById('status').innerHTML = 'Error Sending Mail';
                }
                else if(data.message == 3)
                {
                    document.getElementById('status').innerHTML = 'You have reached the email limit of 5 emails/24 hours. Kindly try again after few hours.';
                }
                else if(data.message == 2)
                {
                    document.getElementById('status').innerHTML = 'User not found'
                }
                else if(data.message == 1)
                {
                    location.reload()
                }
                else
                {
                    document.getElementById('status').innerHTML = 'Unauthorised Request!';
                }

                document.getElementById('status').style.display = 'block';
                document.getElementById('loading').style.display = 'none';
            })
            .catch(error => {
                document.getElementById('status').innerHTML = 'Error Sending Mail';

                document.getElementById('loading').style.display = 'none';
            })
        }
    </script>
</head>
<body>

    <div id="loading" style="position: fixed; left: 0; top: 0; height: 100%; width: 100%; background: rgba(255, 255, 255, 0.7); display: none; z-index: 100;">
        <span style="position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%);"><h2>Sending Email...</h2></span>
    </div>

    <p id="status" style="display: none; color: red;"></p>
    <p>Forgot Password</p>
    <p>Please enter your registered mail address</p>
    <p>
        <input type="text" name="" id="email">
        <button onclick="resend()" id="reset-btn">Send reset link!</button>
    </p>
</body>
</html>