<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Forgot Password | Innovations 2021 | CSI SIESGST</title>
		<meta name="author" content="Technical Team - CSI SIESGST" />
		<link
			rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
		/>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="css/styles.css" />
		<link rel="preconnect" href="https://fonts.gstatic.com" />
		<link
			href="https://fonts.googleapis.com/css2?family=Rubik&display=swap"
			rel="stylesheet"
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
		/>

		<script>
			function resend() {
				let val = document.getElementById('email').value;
				if (
					val.length < 10 ||
					!val.includes('.') ||
					!val.includes('@')
				) {
					alert('Please enter valid email address!');
					return;
				}
				document.getElementById('loading').style.display = 'block';
				let body = 'username=' + encodeURIComponent(val);

				fetch('/forgot-password', {
					method: 'POST',
					headers: {
						'Content-Type': 'application/x-www-form-urlencoded'
					},
					body: body
				})
					.then((response) => response.json())
					.then((data) => {
						console.log(data);
						if (
							data.message == 0 ||
							data.message == 4 ||
							data.message == 5
						) {
							document.getElementById('status').innerHTML =
								'Error Sending Mail';
						} else if (data.message == 3) {
							document.getElementById('status').innerHTML =
								'You have reached the email limit of 5 emails/24 hours. Kindly try again after few hours.';
						} else if (data.message == 2) {
							document.getElementById('status').innerHTML =
								'User not found';
						} else if (data.message == 1) {
							location.reload();
						} else {
							document.getElementById('status').innerHTML =
								'Unauthorised Request!';
						}

						document.getElementById('status').style.display =
							'block';
						document.getElementById('loading').style.display =
							'none';
					})
					.catch((error) => {
						document.getElementById('status').innerHTML =
							'Error Sending Mail';

						document.getElementById('loading').style.display =
							'none';
					});
			}
		</script>
	</head>
	<body style="background-color: #5390f5">
		<nav class="navbar navbar-expand-md">
			<div class="container">
				<img src="images/csi_logo.png" class="mr-3" onclick="location.href='/'" style="float: left; cursor: pointer;"/>
				<a href="/" class="navbar-brand mr-auto"> INNOVATIONS <span class="d-none d-sm-inline">2021</span></a>
				<button
					class="navbar-toggler"
					data-toggle="collapse"
					data-target="#navbarid"
				>
					<span
						><i
							class="fa fa-bars"
							aria-hidden="true"
							style="color: #3f3d56"
						></i
					></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarid">
					<ul class="navbar-nav text-center ml-auto">
						<li class="nav-item">
							<a href="/" class="nav-link">Home</a>
						</li>
						<li class="nav-item">
							<a href="/signup" class="nav-link">Register</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<div
			id="loading"
			style="
				position: fixed;
				left: 0;
				top: 0;
				height: 100%;
				width: 100%;
				background: rgba(255, 255, 255, 0.7);
				display: none;
				z-index: 100;
			"
		>
			<span
				style="
					position: absolute;
					left: 50%;
					top: 50%;
					transform: translate(-50%, -50%);
				"
				><h2>Sending Email...</h2></span
			>
		</div>
		<div class="mt-4 p-4">
			<div class="container row" id="register">
				<div
					class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 align-self-center justify-content-center"
				>
					<img
						src="images/forgot_password.png"
						class="img-fluid w-100"
						alt="Responsive image"
					/>
				</div>

				<!--Form-->
				<div
					class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 align-self-center justify-content-center"
				>
					<form
						id="forgot_password"
						onsubmit="resend(); return false;"
					>
						<h2 class="title text-center">Forgot Password ?</h2>
						<div class="form-row">
							<label class="text-center pb-4"
								>Enter your email ID and we'll send you the link
								to reset your password.</label
							>
							<input
								type="email"
								class="form-control"
								name="username"
								id="email"
								placeholder="abc@gmail.com"
								required
							/>
						</div>
						<button
							type="submit"
							class="btn btn-primary btn-block p-3"
							id="reset-btn"
						>
							SEND RESET CODE
						</button>
						<p id="status" style="display: none; color: red"></p>
					</form>
					<p class="text-center">
						Haven't registered yet?
						<a href="/signup"><b>Register now!</b></a>
					</p>
				</div>
			</div>
		</div>
	</body>
</html>
