<!DOCTYPE html>
<html>
	<head>
		<title>TEAM NAME</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width = device-width, initial-scale=1" />
		<link
			rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
		/>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="css/styles.css" />
		<link rel="preconnect" href="https://fonts.gstatic.com" />
		<link
			href="https://fonts.googleapis.com/css2?family=Rubik&display=swap"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
	</head>

	<body>
		<!--Navbar-->
		<nav class="navbar navbar-expand-md">
			<div class="container">
				<a href="#" class="navbar-brand mr-auto"> LOGO </a>
				<button
					class="navbar-toggler"
					data-toggle="collapse"
					data-target="#navbarid"
				>
					<span
						><i
							class="fa fa-bars"
							aria-hidden="true"
							style="color: #3f3d56"
						></i
					></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarid">
					<ul class="navbar-nav text-center ml-auto">
						<li class="nav-item">
							<a href="/" class="nav-link">Home</a>
						</li>
						<li class="nav-item">
							<a href="/info" class="nav-link">Info</a>
						</li>
						<li class="nav-item">
							<a href="#" class="nav-link"
								>Contact Us</a
							>
						</li>
						<li class="nav-item">
							<a href="/logout" class="nav-link">LOG OUT</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>


		<div class="chatbox-home position-fixed bg-white" style="bottom: 0; right: 30px;">
			
			<div class="chat-home-text bg-primary text-white  p-1 pl-4 pb-2 border-bottom">
				<div class="row">
					<div class="col-8">Chat with Admin</div>
					<div class="col-4 text-right pr-5"><i class="fas fa-times" style="cursor: pointer;"></i></div>
				</div>
				
			</div>

			<iframe name="uni-frame" src="./user-chat" frameborder="0" style="width: 100%; height: calc(100% - 32px); overflow-y: scroll;"></iframe>
		</div>


		<div class="container">
			<div class="row">
				<div class="col-sm-6 text-center">
					<h1 id="team-name">WELCOME,<br /><%= team %></h1>
					<h3 id="chat-click" class="body-text mb-0" style="cursor: pointer;">
						<span class="d-inline-block" style="max-width: 75%;">Need help? Chat Now...</span>
						<img
						src="images/chatIcon.png"
						class="d-inline-block"
						style="width: auto; height: 50px; vertical-align: top; transform: translateY(-20px);"
						/>
					</h3>
					
				</div>
				<div class="col-sm-6 pt-5">
					<% if (teamConfirm) { %>
						<div class="row" onclick="location.href='/members'" style="cursor: pointer;">
							<div class="col-9 col-sm-9 col-md-9 col-lg-8 mx-auto py-3 text-center">
								<h3>
									View Members
								</h3>
								<small class="text-success">Confirmed</small>
							</div>
							<div class="col-3 col-sm-3 col-md-3 col-lg-4 mx-auto py-3">
								<button class="next-button text-primary">
									<i class="fas fa-check-circle fa-2x"></i>
								</button>
							</div>
						</div>
					<% } else { %>
						<div class="row" onclick="location.href='/members'" style="cursor: pointer;">
							<div class="col-9 col-sm-9 col-md-9 col-lg-8 mx-auto py-3 text-center">
								<h3>
									Add members to your team!
								</h3>
								<small>Last Date: ....</small>
							</div>
							<div class="col-3 col-sm-3 col-md-3 col-lg-4 mx-auto py-3">
								<button class="next-button text-primary">
									<i class="fa fa-angle-right fa-3x"></i>
								</button>
							</div>
						</div>
					<% } %>
						
					<hr>

					<% if (payment) { %>
						<div class="row">
							<div class="col-9 col-sm-9 col-md-9 col-lg-8 mx-auto py-3 text-center">
								<h3>
									Payment Status
								</h3>
								<span class="text-success">Done</span>
							</div>
							<div class="col-3 col-sm-3 col-md-3 col-lg-4 mx-auto py-3">
								<button class="next-button text-primary">
									<i class="fas fa-check-circle fa-2x"></i>
								</button>
							</div>
						</div>
					<% } else { %>
						<div class="row" onclick="location.href='/payment'" style="cursor: pointer;">
							<div class="col-9 col-sm-9 col-md-9 col-lg-8 mx-auto py-3 text-center">
								<h3>
									Payment Status
								</h3>
								<span class="text-danger">Pending</span>
								<br>
								<small>Last Date: ....</small>
							</div>
							<div class="col-3 col-sm-3 col-md-3 col-lg-4 mx-auto py-3">
								<button class="next-button text-primary">
									<i class="fa fa-angle-right fa-3x"></i>
								</button>
							</div>
						</div>
					<% } %>

					<hr>

					<% if (submitted) { %>
						<div class="row">
							<div class="col-9 col-sm-9 col-md-9 col-lg-8 mx-auto py-3 text-center">
								<h3>
									Abstract Submission
								</h3>
								<small class="text-success">Done</small>
							</div>
							<div class="col-3 col-sm-3 col-md-3 col-lg-4 mx-auto py-3">
								<button class="next-button text-primary">
									<i class="fas fa-check-circle fa-2x"></i>
								</button>
							</div>
						</div>
					<% } else {
						if(!payment || !teamConfirm) { %>
							<div class="row">
						<% } else { %>
							<div class="row" onclick="location.href='/upload'" style="cursor: pointer;">
						<% } %>
							<div class="col-9 col-sm-9 col-md-9 col-lg-8 mx-auto py-3 text-center">
								<h3>
									Submit Abstract
								</h3>
								<% if(!payment || !teamConfirm) {
									%><small class="text-danger">Please complete above steps to submit abstract!</small><br><%
								} %> 
								<small>Last Date: ....</small>
							</div>
							<div class="col-3 col-sm-3 col-md-3 col-lg-4 mx-auto py-3">
								<% if(!payment || !teamConfirm) { %>
									<button class="next-button text-dark" disabled>
										<i class="fa fa-angle-right fa-3x"></i>
									</button>
								<% } else { %>
									<button class="next-button text-primary">
										<i class="fa fa-angle-right fa-3x"></i>
									</button>
								<% } %>
								
							</div>
						</div>
					<% } %>

				</div>
			</div>
		</div>

		
	</body>
</html>