<!DOCTYPE html>
<html>
	<head>
		<title>TEAM NAME</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width = device-width, initial-scale=1" />
		<link
			rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
		/>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="css/styles.css" />
		<link rel="preconnect" href="https://fonts.gstatic.com" />
		<link
			href="https://fonts.googleapis.com/css2?family=Rubik&display=swap"
			rel="stylesheet"
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
		/>
	</head>

	<body>
		<!--Navbar-->
		<nav class="navbar navbar-expand-md">
			<div class="container">
				<a href="#" class="navbar-brand mr-auto"> LOGO </a>
				<button
					class="navbar-toggler"
					data-toggle="collapse"
					data-target="#navbarid"
				>
					<span
						><i
							class="fa fa-bars"
							aria-hidden="true"
							style="color: #3f3d56"
						></i
					></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarid">
					<ul class="navbar-nav text-center ml-auto">
						<li class="nav-item">
							<a href="/" class="nav-link">Home</a>
						</li>
						<li class="nav-item">
							<a href="/info" class="nav-link">Info</a>
						</li>
						<li class="nav-item">
							<a href="#" class="nav-link"
								>Contact Us</a
							>
						</li>
						<li class="nav-item">
							<a href="/logout" class="nav-link">LOG OUT</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>

		<!--Body-->
		<div class="container-fluid">
			<div class="row no-gutter">
				<div
					class="d-flex align-items-center col-md-4 col-lg-5 welcome"
				>
					<h1 id="team-name">WELCOME,<br /><%= team %></h1>
				</div>

				<!--Steps-->
				<div class="col-md-8 col-lg-7">
					<div class="d-flex align-items-center py-4">
						<div class="container info">
							<div class="row">
								<div
									class="col-9 col-sm-9 col-md-9 col-lg-8 mx-auto py-3"
								>
									<h3 style="text-align: center">
										Add members to your team!
									</h3>
								</div>
								<div
									class="col-3 col-sm-3 col-md-3 col-lg-4 mx-auto py-3"
								>
									<button class="next-button">
										<a href="/members"><i class="fa fa-angle-right fa-3x"></i></a>
									</button>
								</div>
								<% if (teamConfirm) { %>
								<img
										src="images/complete-icon-new.png"
										class="img-fluid"
										style="margin-left: 10%; margin-top: -4%"
								/>
								<% } else { %>
									<img
										src="images/incomplete-icon-new.png"
										class="img-fluid"
										style="margin-left: 10%; margin-top: -4%"
									/>
								<% } %>
							</div>
							<div class="row">
								<div
									class="col-9 col-sm-9 col-md-9 col-lg-8 mx-auto py-3"
								>
									<h3 style="text-align: center">
										Complete payment
									</h3>
								</div>
								<div
									class="col-3 col-sm-3 col-md-3 col-lg-4 mx-auto py-3"
								>
									<button class="next-button">
										<a href="/payment"><i class="fa fa-angle-right fa-3x"></i></a>
									</button>
								</div>
								<% if (payment) { %>
									<img
										src="images/complete-icon-new.png"
										class="img-fluid"
										style="margin-left: 10%; margin-top: -4%"
									/>
								<% } else { %>
									<img
										src="images/incomplete-icon-new.png"
										class="img-fluid"
										style="margin-left: 10%; margin-top: -4%"
									/>
									<% } %>
							</div>
							<div class="row">
								<div
									class="col-9 col-sm-9 col-md-9 col-lg-8 mx-auto py-3"
								>
									<h3 style="text-align: center">
										Submit Abstract
									</h3>
								</div>
								<div
									class="col-3 col-sm-3 col-md-3 col-lg-4 mx-auto py-3"
								>
									<button class="next-button">
										<a href="/upload"><i class="fa fa-angle-right fa-3x"></i></a>
									</button>
								</div>
								<% if (submitted) { %>
									<img
										src="images/complete-icon-new.png"
										class="img-fluid"
										style="margin-left: 10%; margin-top: -4%"
									/>
								<% } else { %>
									<img
										src="images/incomplete-icon-new.png"
										class="img-fluid"
										style="margin-left: 10%; margin-top: -4%"
									/>
								<% } %>
							</div>
							<div class="row">
								<div
									class="col-9 col-sm-9 col-md-9 col-lg-8 mx-auto py-3"
								>
									<h3 style="text-align: center">
										ROUND ! RESULTS
									</h3>
								</div>
								<div
									class="col-3 col-sm-3 col-md-3 col-lg-4 mx-auto py-3"
								>
									<button class="next-button">
										<i class="fa fa-angle-right fa-3x"></i>
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!--Footer-->
		<div class="container footer">
			<a href="#" class="navbar-brand mr-auto"> LOGO </a>
		</div>
	</body>
</html>