<!DOCTYPE html>
<html>
	<head>
		<title>Login | Innovations 2021 | CSI SIESGST</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width = device-width, initial-scale=1" />

		<meta name="description" content="Login to your account for Official Annual Project Presentation Competition held by CSI SIESGST, Nerul, Navi Mumbai." />
		<meta name="keywords" content="CSI, csi, sies, gst, siesgst, official, student, website, events, competition, 2021, innovations, online, project, software, hardware, login">
		<meta name="author" content="Technical Team - CSI SIESGST" />

		<!--whatsapp and fb-->
		<meta property="og:title" content="Login | Innovations 2021 | CSI SIESGST" />
		<meta property="og:description" content="Login to your account for Official Annual Project Presentation Competition held by CSI SIESGST, Nerul, Navi Mumbai." />
		<meta property="og:type" content="website" />
		<meta property="og:image" content="http://innovations.siesgst.ac.in/images/logo_pds7uc.png" />
		<meta property="og:url" content="http://innovations.siesgst.ac.in" />
		<meta property="og:image:type" content="image/png" />
		<meta property="og:image:width" content="512" />
		<meta property="og:image:height" content="512" />
		<meta property="og:image:alt" content="CSI SIESGST" />
	
		<!--twitter-->
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content="Login | Innovations 2021 | CSI SIESGST" />
		<meta name="twitter:description" content="Login to your account for Official Annual Project Presentation Competition held by CSI SIESGST, Nerul, Navi Mumbai." />
		<meta name="twitter:image" content="http://innovations.siesgst.ac.in/images/logo_pds7uc.png" />
		
	
		<!-- Chrome, Firefox OS and Opera -->
		<meta name="theme-color" content="#00a3d3">
		<!-- Windows Phone -->
		<meta name="msapplication-navbutton-color" content="#00a3d3">
		<!-- iOS Safari -->
		<meta name="apple-mobile-web-app-status-bar-style" content="#00a3d3">

		<link rel="shortcut icon" href="http://innovations.siesgst.ac.in/images/logo_pds7uc.png">
    	<link rel="icon" href="http://innovations.siesgst.ac.in/images/logo_pds7uc.png">
    	<link rel="apple-touch-icon" href="http://innovations.siesgst.ac.in/images/logo_pds7uc.png">

		<link
			rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
		/>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="css/styles.css" />
		<link rel="preconnect" href="https://fonts.gstatic.com" />
		<link
			href="https://fonts.googleapis.com/css2?family=Rubik&display=swap"
			rel="stylesheet"
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
		/>
		<!-- <link
			rel="stylesheet"
			type="text/css"
			href="assets/css/bootstrap.min.css"
		/> -->
		<link
			rel="stylesheet"
			type="text/css"
			href="assets/css/font-awesome.css"
		/>
		<link
			rel="stylesheet"
			type="text/css"
			href="assets/css/templatemo-art-factory.css"
		/>
	</head>

	<body style="background-color: #5390f5">
		<nav class="navbar navbar-expand-md">
			<div class="container">
				<img src="images/csi_logo.png" class="mr-3" onclick="location.href='/'" style="float: left; cursor: pointer; height: 52px; width: auto;"/>
				<a href="/" class="navbar-brand mr-auto"> INNOVATIONS <span class="d-none d-sm-inline">2021</span></a>
				<button
					class="navbar-toggler"
					data-toggle="collapse"
					data-target="#navbarid"
				>
					<span
						><i
							class="fa fa-bars"
							aria-hidden="true"
							style="color: #3f3d56"
						></i
					></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarid">
					<ul class="navbar-nav text-center ml-auto">
						<li class="nav-item">
							<a href="/" class="nav-link">Home</a>
						</li>
						<li class="nav-item">
							<a href="/signup" class="nav-link">Register</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>

		<div style="padding: 50px">
			<div class="container row pb-lg-4" id="login">
				<div
					class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 align-self-center justify-content-center text-center"
				>
					<div class="login-img-div mx-auto">
						<img
							src="images/login.png"
							class="img-fluid login-img w-100 d-lg-block d-none"
							alt="Responsive image"
						/>
						<img
							src="images/login_sm.png"
							class="img-fluid login-img w-100 d-block d-lg-none"
							alt="Responsive image"
						/>
					</div>
				</div>
				<div
					class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 align-self-center justify-content-center"
				>
					<form id="log-in">
						<div class="form-group">
							<label class="text-danger" id="status"></label
							><br />
							<label>Leader's Email ID</label>
							<input
								type="email"
								name="username"
								class="form-control"
								id="inputEmail1"
								aria-describedby="emailHelp"
								placeholder="Enter email ID"
								required
							/>
						</div>
						<div class="form-group">
							<label>Password</label>
							<input
								type="password"
								name="password"
								class="form-control"
								id="inputPassword1"
								placeholder="Password"
								required
							/>
						</div>
						<small
							><a href="/forgot-password"
								>Forgot password ?</a
							></small
						>
						<button type="submit" class="btn btn-primary btn-block">
							Submit
						</button>
						<div class="text-center pb-4">
							Haven't Registered?
							<a href="/signup"> Register Now!</a>
						</div>
					</form>
				</div>
			</div>
		</div>

		<script type="text/javascript">
			function loginReq() {
				var form = new FormData(document.getElementById('log-in'));
				var formBody = [];
				for (var key of form.keys()) {
					var encodedKey = encodeURIComponent(key);
					var encodedValue = encodeURIComponent(form.get(key));
					formBody.push(encodedKey + '=' + encodedValue);
				}
				formBody = formBody.join('&');
				fetch('/login', {
					method: 'POST',
					headers: {
						'Content-Type': 'application/x-www-form-urlencoded'
					},
					body: formBody
				})
					.then((response) => response.json())
					.then((data) => {
						if (data.message == 'done') {
							location.replace('/home');
						} else {
							document.getElementById('status').innerHTML =
								data.message;
						}
					})
					.catch((error) => {
						document.getElementById('status').innerHTML =
							'Invalid username or password';
					});
			}
			document
				.getElementById('log-in')
				.addEventListener('submit', (event) => {
					event.preventDefault();

					loginReq();
					return false;
				});
		</script>
	</body>
</html>
