<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no"
		/>
		<meta name="description" content="Official Annual Project Presentation Competition held by CSI SIESGST, Nerul, Navi Mumbai." />
		<meta name="keywords" content="CSI, csi, sies, gst, siesgst, official, student, website, events, competition, 2021, innovations, online, project, software, hardware">
		<meta name="author" content="Technical Team - CSI SIESGST" />
		<link
			href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900"
			rel="stylesheet"
		/>

		<!--whatsapp and fb-->
		<meta property="og:title" content="Innovations 2021" />
		<meta property="og:description" content="Official Annual Project Presentation Competition held by CSI SIESGST, Nerul, Navi Mumbai." />
		<meta property="og:type" content="website" />
		<meta property="og:image" content="http://innovations.siesgst.ac.in/images/logo.png" />
		<meta property="og:url" content="http://innovations.siesgst.ac.in/" />
		<meta property="og:image:type" content="image/png" />
		<meta property="og:image:width" content="512" />
		<meta property="og:image:height" content="512" />
		<meta property="og:image:alt" content="CSI SIESGST" />
	
		<!--twitter-->
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content="Innovations 2021 | CSI SIESGST" />
		<meta name="twitter:description" content="Official Annual Project Presentation Competition held by CSI SIESGST, Nerul, Navi Mumbai." />
		<meta name="twitter:image" content="http://innovations.siesgst.ac.in/images/logo.png" />
		
	
		<!-- Chrome, Firefox OS and Opera -->
		<meta name="theme-color" content="#00a3d3">
		<!-- Windows Phone -->
		<meta name="msapplication-navbutton-color" content="#00a3d3">
		<!-- iOS Safari -->
		<meta name="apple-mobile-web-app-status-bar-style" content="#00a3d3">

		<link rel="shortcut icon" href="http://innovations.siesgst.ac.in/images/logo.png">
    	<link rel="icon" href="http://innovations.siesgst.ac.in/images/logo.png">
    	<link rel="apple-touch-icon" href="http://innovations.siesgst.ac.in/images/logo.png">

		<title>Innovations 2021 | CSI SIESGST</title>
		<link
			rel="stylesheet"
			type="text/css"
			href="assets/css/bootstrap.min.css"
		/>
		<link rel="stylesheet" type="text/css" href="assets/css/font-awesome.css" />
		<link
			rel="stylesheet"
			type="text/css"
			href="assets/css/templatemo-art-factory.css"
		/>
		<link rel="stylesheet" type="text/css" href="assets/css/owl-carousel.css" />
	</head>

	<body>
		<!-- Preloader-->
		<div id="preloader">
			<div class="jumper">
				<div></div>
				<div></div>
				<div></div>
			</div>
		</div>

		<header class="header-area header-sticky">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<img src="images/csi_logo.png" class="mr-0 p-2" onclick="location.href='/'" style="float: left; cursor: pointer;">
						<nav class="main-nav">
							<a href="#" class="logo">INNOVATIONS <span class="d-none d-xl-inline-block">2021</span></a>
							<!-- Navbar -->
							<ul class="nav">
								<li class="scroll-to-section">
									<a href="#welcome" class="active">Home</a>
								</li>
								<li class="scroll-to-section"><a href="#about">About</a></li>
								<li class="scroll-to-section">
									<a href="#about2">Schedule</a>
								</li>
								<li class="scroll-to-section">
									<a href="#frequently-question">FAQs</a>
								</li>
								<li class="scroll-to-section">
									<a href="#contact-us">Contact Us</a>
								</li>
								<% if(team) { %>
								<li>
									<a href="/home">Team Profile</a>
								</li>
								<li>
									<a href="/logout">Logout</a>
								</li>
								<%  } else { %>
								<li>
									<a href="/login">Sign in</a>
								</li>
								<li>
									<a href="/signup">Register</a>
								</li>
								<% } %>
							</ul>
							<a class="menu-trigger">
								<span>Menu</span>
							</a>
						</nav>
					</div>
				</div>
			</div>
		</header>

		<!-- Title -->
		<div class="welcome-area" id="welcome">
			<div class="header-text">
				<div class="container">
					<div class="row">
						<div
							class="left-text col-lg-6 col-md-6 col-sm-12 col-xs-12"
							data-scroll-reveal="enter left move 30px over 0.6s after 0.4s"
						>
							<h1>Innovations 2021</h1>
							<p>
								It gives us immense pleasure in announcing our 9th National
								Project Competition: <strong>Innovations 2021</strong> which is
								a mixture of both creativity and innovation. We invite
								you to challenge your innovative mind and showcase your talent on
								<b>10<sup>th</sup> April 2021.</b>
							</p>
							<% if (team) {%>
								<a href="/home" class="main-button-slider mr-3">Your Team Profile</a>
							<% }else{ %>
							<a href="/login" class="main-button-slider px-4 mr-3" id="home-login-btn">SIGN IN</a>
							<a href="/signup" class="main-button-slider px-4">REGISTER</a>
							<% } %>
						</div>
						<div
							class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mt-2"
							data-scroll-reveal="enter right move 30px over 0.6s after 0.4s"
						>
							<img
								src="assets/images/idea.png"
								class="rounded img-fluid d-block mx-auto"
								alt="First Vector Graphic"
							/>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- About -->
		<section class="section" id="about">
			<div class="container">
				<div class="row">
					<div
						class="col-lg-7 col-md-12 col-sm-12"
						data-scroll-reveal="enter left move 30px over 0.6s after 0.4s"
					>
						<img
							src="assets/images/work.png"
							class="rounded img-fluid d-block mx-auto"
							alt="App"
						/>
					</div>
					<div class="right-text col-lg-5 col-md-12 col-sm-12 mobile-top-fix">
						<div class="left-heading">
							<h5>About The Competition</h5>
						</div>
						<div class="left-text">
							<!-- <p>Innovations is a national level project competition which serves as a platform for young minds to  take this window of opportunity and bring forward their innovative ideas in the form of projects.</p>
							<p>This year be a part of our 9th National project competition Innovations 2021 and present the project on any domain and win worthy prizes.</p> -->
							<ul>
								<li class="py-2"><i>Changes call for innovation, and innovation leads to progress.</i></li>
								<li class="py-2">Innovations is a national level project competition which serves as a platform for young minds to  take this window of opportunity and bring forward their innovative ideas in the form of projects.</li>
								<li class="py-2">
									This year be a part of our 9th National project competition Innovations 2021 and present the project on any domain and win worthy prizes.
								</li>
								<li class="py-2 pb-4">
									Registration Closes - 1<sup>st</sup> April 2021<br>
									<a href="/signup">Register Now!</a>
								</li>
								<!-- <li class="py-2 pb-4">
									Abstract of the project to be submitted on or before 5th march
									2021 to be submitted on our website.
								</li> -->
							</ul>

							<a href="/data/INNOVATIONS_2021.pdf" target="_blank" class="main-button">View Brochure</a>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<div class="hr"></div>
					</div>
				</div>
			</div>
		</section>

		<!-- Schedule -->
		<section class="section" id="about2">
			<div class="container">
				<div class="row">
					<div class="left-text col-lg-5 col-md-12 col-sm-12 mobile-bottom-fix">
						<div class="left-heading">
							<h5>Schedule</h5>
						</div>
						<ul>
							<li>
								<img src="assets/images/unlock.png" alt="" />
								<div class="text">
									<h6>11<sup>th</sup> March</h6>
									<p>Registration Opens</p>
								</div>
							</li>
							<li>
								<img src="assets/images/lock.png" alt="" />
								<div class="text">
									<h6>1<sup>st</sup> April</h6>
									<p>Registration Ends</p>
								</div>
							</li>
							<li>
								<img src="assets/images/pen.png" alt="" />
								<div class="text">
									<h6>3<sup>rd</sup> April</h6>
									<p>Abstract Submission Deadline</p>
								</div>
							</li>
							<!-- <li>
								<img src="assets/images/dollar.png" alt="" />
								<div class="text">
									<h6>15<sup>th</sup> March</h6>
									<p>Payment Deadline</p>
								</div>
							</li> -->
							<li>
								<img src="assets/images/cup.png" alt="" />
								<div class="text">
									<h6>10<sup>th</sup> April</h6>
									<p>Event Date (Online mode)</p>
								</div>
							</li>
						</ul>
					</div>
					<div
						class="right-image col-lg-7 col-md-12 col-sm-12 mobile-bottom-fix-big d-lg-block d-none"
						data-scroll-reveal="enter right move 30px over 0.6s after 0.4s"
					>
						<img
							src="assets/images/time.png"
							class="rounded img-fluid d-block mx-auto"
							alt="App"
						/>
					</div>
				</div>
			</div>
		</section>

		<!-- Innovations 2020 -->
		<!-- <section class="section" id="services">
			<div class="container">
				<div class="row">
					<div class="owl-carousel owl-theme">
						<div class="item service-item">
							<img src="assets/images/service-icon-01.png" alt="" />
						</div>
						<div class="item service-item">
							<img src="assets/images/service-icon-01.png" alt="" />
						</div>
						<div class="item service-item">
							<img src="assets/images/service-icon-01.png" alt="" />
						</div>
						<div class="item service-item">
							<img src="assets/images/service-icon-01.png" alt="" />
						</div>
						<div class="item service-item">
							<img src="assets/images/service-icon-01.png" alt="" />
						</div>
					</div>
				</div>
			</div>
		</section> -->

		<!-- Frequently Asked Questions -->
		<section class="section" id="frequently-question">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="section-heading">
							<h2>Frequently Asked Questions</h2>
						</div>
						<div style="padding: 20px"></div>
					</div>
				</div>

				<div class="row">
					<!-- <div class="left-text col-lg-6 col-md-6 col-sm-12">
						<h5>Class aptent taciti sociosqu ad litora torquent per conubia</h5>
						<div class="accordion-text">
							<p>
								Curabitur placerat diam in risus lobortis, laoreet porttitor est
								elementum. Nulla ultricies risus quis risus scelerisque, a
								aliquam tellus maximus. Cras pretium nulla ac convallis iaculis.
								Aenean bibendum erat vitae odio sodales, in facilisis tellus
								volutpat.
							</p>
							<p>
								Sed lobortis pellentesque magna ac congue. Suspendisse quis
								molestie magna, id eleifend ex. Ut mollis ultricies diam nec
								dictum. Morbi commodo hendrerit mi vel vulputate. Proin non
								tincidunt dui. Lorem ipsum dolor sit amet.
							</p>
							<span>Email: <a href="#">email@company.com</a><br /></span>
							<a href="#contact-us" class="main-button">Contact Us</a>
						</div>
					</div> -->
					<div class="col-lg-6 col-md-6 col-sm-12">
						<div class="accordions is-first-expanded">
							<article class="accordion">
								<div class="accordion-head">
									<span> Is there any registration fees?</span>
									<span class="icon">
										<i class="icon fa fa-chevron-right"></i>
									</span>
								</div>
								<div class="accordion-body">
									<div class="content">
										<p>
											No, this is a complete free event. All you need to spend is your knowledge & skills.
										</p>
									</div>
								</div>
							</article>
							<article class="accordion">
								<div class="accordion-head">
									<span>What are the benefits of participating?</span>
									<span class="icon">
										<i class="icon fa fa-chevron-right"></i>
									</span>
								</div>
								<div class="accordion-body">
									<div class="content">
										<p>
											This is the place where you get to learn and enhance your technical skills and serves as a platform for young minds to  take this window of opportunity and bring forward their innovative ideas in the form of projects.
										</p>
									</div>
								</div>
							</article>
							<article class="accordion">
								<div class="accordion-head">
									<span>What are the number of participants in each team?</span>
									<span class="icon">
										<i class="icon fa fa-chevron-right"></i>
									</span>
								</div>
								<div class="accordion-body">
									<div class="content">
										<p>
											The minimum requirement is of 2 participants and the maximum number of members in a team can be 4 candidates.
										</p>
									</div>
								</div>
							</article>
							<article class="accordion">
								<div class="accordion-head">
									<span>Where can I submit the abstract?</span>
									<span class="icon">
										<i class="icon fa fa-chevron-right"></i>
									</span>
								</div>
								<div class="accordion-body">
									<div class="content">
										<p>
											You can submit your abstracts at the innovations 2021 official website .
										</p>
									</div>
								</div>
							</article>
						</div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12">
						<div class="accordions">
							<article class="accordion">
								<div class="accordion-head">
									<span>Will I get a participation certificate?</span>
									<span class="icon">
										<i class="icon fa fa-chevron-right"></i>
									</span>
								</div>
								<div class="accordion-body">
									<div class="content">
										<p>
											Yes, you will be provided with a participation certificate.
										</p>
									</div>
								</div>
							</article>
							<article class="accordion">
								<div class="accordion-head">
									<span>Can I form a team from different colleges?</span>
									<span class="icon">
										<i class="icon fa fa-chevron-right"></i>
									</span>
								</div>
								<div class="accordion-body">
									<div class="content">
										<p>
											Yes you can form a team from different colleges and different branches as well.
										</p>
									</div>
								</div>
							</article>
							<article class="accordion">
								<div class="accordion-head">
									<span>Is there an email to contact for support?</span>
									<span class="icon">
										<i class="icon fa fa-chevron-right"></i>
									</span>
								</div>
								<div class="accordion-body">
									<div class="content">
										<p>
											Yes you can contact us and clear your doubts by mailing to us here csi-council@siesgst.ac.in
										</p>
									</div>
								</div>
							</article>
							<article class="accordion">
								<div class="accordion-head">
									<span>Can a team submit more than one abstract?</span>
									<span class="icon">
										<i class="icon fa fa-chevron-right"></i>
									</span>
								</div>
								<div class="accordion-body">
									<div class="content">
										<p>
											No you need to strictly submit only one abstract .
										</p>
									</div>
								</div>
							</article>
							<article class="accordion">
								<div class="accordion-head">
									<span> Do I have to be online and available for the entire duration of the competition?</span>
									<span class="icon">
										<i class="icon fa fa-chevron-right"></i>
									</span>
								</div>
								<div class="accordion-body">
									<div class="content">
										<p>
											You will have to be present for the introductory session on the day of the event i.e 27th March. You will also have to be present during the stipulated time frame and schedule which will be mentioned on the day of the event . It is necessary to be available during the final submission of your project.
										</p>
									</div>
								</div>
							</article>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- Contact Us-->
		<section class="section" id="contact-us">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-12">
						<div id="map">
							<iframe
								src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3771.4756649763162!2d73.02088931490069!3d19.042812987106974!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c3db5e2c85cd%3A0xef26c52d7d73816e!2sSIES%20Graduate%20School%20of%20Technology!5e0!3m2!1sen!2sin!4v1611499997061!5m2!1sen!2sin"
								width="100%"
								height="500px"
								frameborder="0"
								style="border: 0"
								allowfullscreen
							></iframe>
						</div>
					</div>

					<div class="col-lg-6 col-md-6 col-sm-12">
						<div class="contact-form">
							<h4 class="pb-5">Contact US</h4>
							<div class="row">
								<div class="col-md-12 col-sm-12">
									<p>
										Please visit our website
										<a href="https://csi.siesgst.ac.in/" target="_blank"><i><u>csi.siesgst.ac.in</u></i></a> for more details.<br /><br />
									</p>
								</div>
								<div class="col-md-12 col-sm-12">
									<p>
										For more information you can also contact:<br />
										Sharan Murli: <a href="tel:+919167754246"><u>+91 9167754246</u></a>
										<br>
										Sangeeth Arun: <a href="tel:+919167221000"><u>+91 9167221000</u></a>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section>
			<div class="container pt-4">
				<div class="row align-items-center">
					<div class="col-12">
						<div class="section-heading">
							<h2>Our Sponsors</h2>
						</div>
					</div>
					<div class="col-sm-4 col-12 text-center pt-3 pt-sm-0">
						<img src="/images/sponsor1.png" alt="Sponsor" class="sponsor-images-home">
					</div>
					<div class="col-sm-4 col-12 text-center py-5 py-sm-0">
						<img src="/images/sponsor2.png" alt="Sponsor" class="sponsor-images-home">
					</div>
					<div class="col-sm-4 col-12 text-center">
						<img src="/images/sponsor3.png" alt="Sponsor" class="sponsor-images-home">
					</div>
				</div>
			</div>
		</section>

		<!--Footer -->
		<footer>
			<div class="container">
				<div class="row">
					<div class="col-lg-7 col-md-12 col-sm-12">
						<p class="copyright">
							Technical Team - CSI Chapter, SIES Graduate School of Technology,
							Nerul.
						</p>
					</div>
					<div class="col-lg-5 col-md-12 col-sm-12">
						<ul class="social">
							<li>
								<a href="https://instagram.com/csisies?igshid=162s27sf08dxe" target="_blank"><i class="fa fa-instagram"></i></a>
							</li>
							<li>
								<a href="https://www.facebook.com/937406819724072/" target="_blank"><i class="fa fa-facebook"></i></a>
							</li>
							<li>
								<a href="https://www.linkedin.com/company/csi-siesgst" target="_blank"><i class="fa fa-linkedin"></i></a>
							</li>
							<li>
								<a href="https://github.com/CSI-SIESGST" target="_blank"><i class="fa fa-github"></i></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</footer>

		<!-- jQuery -->
		<script src="assets/js/jquery-2.1.0.min.js"></script>

		<!-- Bootstrap -->
		<script src="assets/js/popper.js"></script>
		<script src="assets/js/bootstrap.min.js"></script>

		<!-- Plugins -->
		<script src="assets/js/owl-carousel.js"></script>
		<script src="assets/js/scrollreveal.min.js"></script>
		<script src="assets/js/waypoints.min.js"></script>
		<script src="assets/js/jquery.counterup.min.js"></script>
		<script src="assets/js/imgfix.min.js"></script>

		<!-- Global Init -->
		<script src="assets/js/custom.js"></script>
	</body>
</html>
