<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Not Verified</title>
		<link
			rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
		/>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="css/styles.css" />
		<link rel="preconnect" href="https://fonts.gstatic.com" />
		<link
			href="https://fonts.googleapis.com/css2?family=Rubik&display=swap"
			rel="stylesheet"
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
		/>

		<script>
			function resend() {
				document.getElementById('loading').style.display = 'block';

				fetch('/resend-verification', {
					method: 'POST',
					headers: {
						'Content-Type': 'application/x-www-form-urlencoded'
					}
				})
					.then((response) => response.json())
					.then((data) => {
						console.log(data);
						if (
							data.message == 0 ||
							data.message == 4 ||
							data.message == 5
						) {
							document.getElementById('status').innerHTML =
								'Error Sending Mail';
						} else if (data.message == 6) {
							location.reload();
						} else if (data.message == 3) {
							document.getElementById('status').innerHTML =
								'You have reached the email limit of 5 emails/24 hours. Kindly try again after few hours.';
						} else if (data.message == 1) {
							document.getElementById('status').innerHTML =
								'Verification Mail Sent. Click on the verification link in the email. You can close this page now!';
						} else {
							document.getElementById('status').innerHTML =
								'Unauthorised Request!';
						}

						document.getElementById('status').style.display =
							'block';
						document.getElementById('loading').style.display =
							'none';
					})
					.catch((error) => {
						document.getElementById('status').innerHTML =
							'Error Sending Mail';

						document.getElementById('loading').style.display =
							'none';
					});
			}
		</script>
	</head>

	<body style="background-color: #f55858">
		<nav class="navbar navbar-expand-md">
			<div class="container">
				<img src="images/csi_logo.png" class="mr-3" />
				<a href="/" class="navbar-brand mr-auto"> INNOVATIONS </a>
				<button
					class="navbar-toggler"
					data-toggle="collapse"
					data-target="#navbarid"
				>
					<span
						><i
							class="fa fa-bars"
							aria-hidden="true"
							style="color: #3f3d56"
						></i
					></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarid">
					<ul class="navbar-nav text-center ml-auto">
						<li class="nav-item">
							<a href="/" class="nav-link">Home</a>
						</li>
						<li class="nav-item">
							<a href="/logout" class="nav-link">Logout</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<div style="padding: 60px">
			<div
				id="loading"
				style="
					position: fixed;
					left: 0;
					top: 0;
					height: 100%;
					width: 100%;
					background: rgba(255, 255, 255, 0.7);
					display: none;
					z-index: 100;
				"
			>
				<span
					style="
						position: absolute;
						left: 50%;
						top: 50%;
						transform: translate(-50%, -50%);
					"
					><h2>Sending...</h2></span
				>
			</div>

			<div class="container row" id="register">
				<div
					class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 align-self-center justify-content-center"
				>
					<img
						src="images/welcome.png"
						class="img-fluid w-100"
						alt="Responsive image"
					/>
				</div>

				<!--Form-->
				<div
					class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 p-3 align-self-center justify-content-center"
				>
					<div class="info_container">
						<h2 class="title text-center">
							We're excited to have you here!
						</h2>
						<div class="form-row pr-3 pl-3">
							<label class="text-center pb-3"
								>First, we need to verfiy your email ID.
								<br />Please click on the verification link sent
								on your registered email id.</label
							>
						</div>
						<p id="status" style="display: none; color: red"></p>
						<p class="text-center">
							Haven't recieved the link yet?
						</p>
						<button
							type="submit"
							class="btn btn-primary btn-block p-3"
							onclick="resend()"
						>
							RESEND VERIFICATION LINK
						</button>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
