<!DOCTYPE html>
<html>
	<head>
		<title>Payment | Innovations 2021 | CSI SIESGST</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width = device-width, initial-scale=1" />
		<meta name="author" content="Technical Team - CSI SIESGST" />

		<!-- Chrome, Firefox OS and Opera -->
		<meta name="theme-color" content="#00a3d3">
		<!-- Windows Phone -->
		<meta name="msapplication-navbutton-color" content="#00a3d3">
		<!-- iOS Safari -->
		<meta name="apple-mobile-web-app-status-bar-style" content="#00a3d3">

		<link rel="shortcut icon" href="https://res.cloudinary.com/ashokc/image/upload/c_scale,w_1239/v1580042610/CSI/logo_pds7uc.png">
    	<link rel="icon" href="https://res.cloudinary.com/ashokc/image/upload/c_scale,w_1239/v1580042610/CSI/logo_pds7uc.png">
    	<link rel="apple-touch-icon" href="https://res.cloudinary.com/ashokc/image/upload/c_scale,w_1239/v1580042610/CSI/logo_pds7uc.png">

		<link
			rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
		/>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="css/styles.css" />
		<link rel="preconnect" href="https://fonts.gstatic.com" />
		<link
			href="https://fonts.googleapis.com/css2?family=Rubik&display=swap"
			rel="stylesheet"
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
		/>
		<link
			rel="stylesheet"
			type="text/css"
			href="assets/css/font-awesome.css"
		/>
		<link
			rel="stylesheet"
			type="text/css"
			href="assets/css/templatemo-art-factory.css"
		/>
	</head>
	<body>
		<!-- Navbar -->
		<nav
			class="navbar navbar-expand-md"
			style="box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06)"
		>
			<div class="container">
				<img src="images/csi_logo.png" class="mr-3" onclick="location.href='/'" style="float: left; cursor: pointer;"/>
				<a href="/" class="navbar-brand mr-auto"> INNOVATIONS <span class="d-none d-xl-inline-block">2021</span></a>
				<button
					class="navbar-toggler"
					data-toggle="collapse"
					data-target="#navbarid"
				>
					<span
						><i
							class="fa fa-bars"
							aria-hidden="true"
							style="color: #3f3d56"
						></i
					></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarid">
					<ul class="navbar-nav text-center ml-auto">
						<li class="nav-item">
							<a href="/" class="nav-link">Home</a>
						</li>
						<li class="nav-item">
							<a href="/home" class="nav-link">Team Profile</a>
						</li>
						<li class="nav-item">
							<a href="/logout" class="nav-link">Logout</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<div style="padding: 20px"></div>

		<% if (!payment) { %>
		<h1 class="text-dark mt-2" style="text-align: center">
			Payment Instruction
		</h1>

		<div class="container pt-5 text-center">
			<ul style="font-size: x-large">
				<li>Contact on of the oranizers on chat.</li>
				<li>Make the payment as instructed.</li>
				<li>Check your payment status in your teams profile.</li>
			</ul>
		</div>
		<% } else { %>
		<div class="container">
			<div class="text-center align-middle pt-5">
				<img
					src="images/complete-icon.png"
					class="img-fluid"
					alt="Responsive image"
				/>
			</div>
			<h2 style="text-align: center" class="pt-3">Payment Successful</h2>
		</div>
		<% } %>
	</body>
</html>
