<!DOCTYPE html>
<html>
	<head>
		<title>Register Now! | Innovations 2021 | CSI SIESGST</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width = device-width, initial-scale=1" />

		<meta name="description" content="Register for Official Annual Project Presentation Competition held by CSI SIESGST, Nerul, Navi Mumbai." />
		<meta name="keywords" content="CSI, csi, sies, gst, siesgst, official, student, website, events, competition, 2021, innovations, online, project, software, hardware, registration">
		<meta name="author" content="Technical Team - CSI SIESGST" />

		<!--whatsapp and fb-->
		<meta property="og:title" content="Register Now! | Innovations" />
		<meta property="og:description" content="Register for Official Annual Project Presentation Competition held by CSI SIESGST, Nerul, Navi Mumbai." />
		<meta property="og:type" content="website" />
		<meta property="og:image" content="http://innovations.siesgst.ac.in/images/logo.png" />
		<meta property="og:url" content="http://innovations.siesgst.ac.in/signup" />
		<meta property="og:image:type" content="image/png" />
		<meta property="og:image:width" content="512" />
		<meta property="og:image:height" content="512" />
		<meta property="og:image:alt" content="CSI SIESGST" />
	
		<!--twitter-->
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content="Register Now! | Innovations 2021 | CSI SIESGST" />
		<meta name="twitter:description" content="Register for Official Annual Project Presentation Competition held by CSI SIESGST, Nerul, Navi Mumbai." />
		<meta name="twitter:image" content="http://innovations.siesgst.ac.in/images/logo.png" />
		
	
		<!-- Chrome, Firefox OS and Opera -->
		<meta name="theme-color" content="#00a3d3">
		<!-- Windows Phone -->
		<meta name="msapplication-navbutton-color" content="#00a3d3">
		<!-- iOS Safari -->
		<meta name="apple-mobile-web-app-status-bar-style" content="#00a3d3">

		<link rel="shortcut icon" href="http://innovations.siesgst.ac.in/images/logo.png">
    	<link rel="icon" href="http://innovations.siesgst.ac.in/images/logo.png">
    	<link rel="apple-touch-icon" href="http://innovations.siesgst.ac.in/images/logo.png">

		<link
			rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
		/>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="css/styles.css" />
		<link rel="preconnect" href="https://fonts.gstatic.com" />
		<link
			href="https://fonts.googleapis.com/css2?family=Rubik&display=swap"
			rel="stylesheet"
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
		/>
		<link
			rel="stylesheet"
			type="text/css"
			href="assets/css/font-awesome.css"
		/>
		<link
			rel="stylesheet"
			type="text/css"
			href="assets/css/templatemo-art-factory.css"
		/>
	</head>

	<body style="background-color: #5390f5">
		<nav class="navbar navbar-expand-md">
			<div class="container">
				<img src="images/csi_logo.png" class="mr-3" onclick="location.href='/'" style="float: left; cursor: pointer; height: 52px; width: auto;"/>
				<a href="/" class="navbar-brand mr-auto"> INNOVATIONS <span class="d-none d-sm-inline">2021</span></a>
				<button
					class="navbar-toggler"
					data-toggle="collapse"
					data-target="#navbarid"
				>
					<span
						><i
							class="fa fa-bars"
							aria-hidden="true"
							style="color: #3f3d56"
						></i
					></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarid">
					<ul class="navbar-nav text-center ml-auto">
						<li class="nav-item">
							<a href="/" class="nav-link">Home</a>
						</li>
						<li class="nav-item">
							<a href="/login" class="nav-link">Login</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<div class="pr-4 pl-4">
			<div class="container row mt-5" id="register">
				<div
					class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 align-self-center justify-content-center d-block d-sm-none d-md-block"
				>
					<img
						src="images/register.png"
						class="img-fluid w-100"
						alt="Responsive image"
					/>
				</div>

				<!--Form-->
				<div
					class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 align-self-center justify-content-center"
				>
					<form id="signup">
						<label id="status" class="text-danger"></label>
						<div class="form-row">
							<div class="form-group col-sm-6">
								<label for="firstname1"
									>Team Name
									<span class="text-danger">*</span></label
								>
								<input
									type="text"
									name="team"
									class="form-control"
									id="firstname1"
									placeholder="Team Name"
									required
								/>
							</div>
							<div class="form-group col-sm-6">
								<label for="lastname1"
									>Leader's Full Name
									<span class="text-danger">*</span></label
								>
								<input
									type="text"
									name="leadername"
									class="form-control"
									id="lastname1"
									placeholder="Full Name"
									required
								/>
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col-sm-6">
								<label for="collegename1"
									>Leader's College Name
									<span class="text-danger">*</span></label
								>
								<input
									type="text"
									name="college"
									class="form-control"
									id="collegename1"
									placeholder="College Name"
									required
								/>
							</div>
							<div class="form-group col-sm-6">
								<label for="domain"
									>Domain
									<span class="text-danger">*</span>
								</label>
								<select name="domain" class="form-control" id="domain" required>
									<option value="S">Software</option>
									<option value="H">Hardware</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label for="contactnumber1"
								>Leader's Contact Number
								<span class="text-danger">*</span></label
							>
							<input
								type="tel"
								class="form-control"
								minlength="10"
								pattern="[0-9]{10}"
								name="contact"
								id="contactnumber1"
								placeholder="Contact number"
								required
							/>
						</div>
						<div class="form-group">
							<label for="email1"
								>Leader's Email ID
								<span class="text-danger">*</span></label
							>
							<input
								type="email"
								class="form-control"
								name="username"
								id="email1"
								placeholder="Email Address"
								required
							/>
						</div>
						<div class="form-row">
							<div class="form-group col-sm-6">
								<label for="inputPassword1"
									>Password
									<span class="text-danger">*</span></label
								>
								<input
									type="password"
									class="form-control"
									name="password"
									id="inputPassword1"
									placeholder="********"
									required
								/>
							</div>
							<div class="form-group col-sm-6">
								<label for="confirmPassword1"
									>Confirm Password
									<span class="text-danger">*</span></label
								>
								<input
									type="password"
									class="form-control"
									id="confirmPassword1"
									placeholder="********"
									name="passwordagain"
									required
								/>
							</div>
						</div>
						<button type="submit" class="btn btn-primary btn-block">
							Register
						</button>
						<div class="text-center pb-4">
							Already Registered? <a href="/login"> Login!</a>
						</div>
					</form>
				</div>
			</div>
		</div>

		<script>
			function signupReq() {
				var form = new FormData(document.getElementById('signup'));
				var formBody = [];
				for (var key of form.keys()) {
					var encodedKey = encodeURIComponent(key);
					var encodedValue = encodeURIComponent(form.get(key));
					formBody.push(encodedKey + '=' + encodedValue);
				}
				formBody = formBody.join('&');
				fetch('/signup', {
					method: 'POST',
					headers: {
						'Content-Type': 'application/x-www-form-urlencoded'
					},
					body: formBody
				})
					.then((response) => response.json())
					.then((data) => {
						if (data.message == 'done') {
							location.replace('/home');
						} else {
							document.getElementById('status').innerHTML =
								data.message;
							if (
								data.message ==
								"Password doesn't satisfy the conditions!"
							) {
								alert(
									'Password must be 8 characters long\nIt should have at least one UpperCase character, LowerCase character, Number, Special Symbol.'
								);
							}
						}
					})
					.catch((error) => {
						document.getElementById('status').innerHTML =
							'Server Error!';
					});
			}

			document
				.getElementById('signup')
				.addEventListener('submit', (event) => {
					event.preventDefault();
					if (
						document.getElementById('inputPassword1').innerText !==
						document.getElementById('confirmPassword1').innerText
					) {
						document.getElementById('status').innerText =
							"Passwords don't match";
					} else {
						signupReq();
					}
				});
		</script>
	</body>
</html>
