<!DOCTYPE html>
<html>
	<head>
		<title>TEAM NAME</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width = device-width, initial-scale=1" />
		<link
			rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
		/>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="assets/css/styles.css" />
		<link rel="preconnect" href="https://fonts.gstatic.com" />
		<link
			href="https://fonts.googleapis.com/css2?family=Rubik&display=swap"
			rel="stylesheet"
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
		/>
	</head>

	<body>
		<!--Navbar-->
		<nav class="navbar navbar-expand-md">
			<div class="container">
				<a href="/" class="navbar-brand mr-auto"> INNOVATIONS </a>
				<button
					class="navbar-toggler"
					data-toggle="collapse"
					data-target="#navbarid"
				>
					<span
						><i
							class="fa fa-bars"
							aria-hidden="true"
							style="color: #3f3d56"
						></i
					></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarid">
					<ul class="navbar-nav text-center ml-auto">
						
						<li class="nav-item">
									<a href="/signup" class="nav-link"
										>Register</a
									>
								</li>						
					</ul>
				</div>
			</div>
		</nav>

		<!--Body-->
		<div class="container-fluid">

    </div>
    <div class="container row">
			<div
				class="col-12 align-self-center justify-content-center"
			>
				<img
					src="images/register_stop.png"
					class="img-fluid w-100"
					alt="Responsive image"
				/>
			</div>
	</body>
</html>
