<!DOCTYPE html>
<html>
	<head>
		<title>RESULTS</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width = device-width, initial-scale=1" />
		<link
			rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
		/>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="css/styles.css" />
		<link rel="preconnect" href="https://fonts.gstatic.com" />
		<link
			href="https://fonts.googleapis.com/css2?family=Rubik&display=swap"
			rel="stylesheet"
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
		/>
	</head>

	<body>
		<!--Navbar-->
		<nav class="navbar navbar-expand-md">
			<div class="container">
				<a href="#" class="navbar-brand mr-auto"> LOGO </a>
				<button
					class="navbar-toggler"
					data-toggle="collapse"
					data-target="#navbarid"
				>
					<span
						><i
							class="fa fa-bars"
							aria-hidden="true"
							style="color: #3f3d56"
						></i
					></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarid">
					<ul class="navbar-nav text-center ml-auto">
						<li class="nav-item">
							<a href="index.html" class="nav-link">Home</a>
						</li>
						<li class="nav-item">
							<a href="info.html" class="nav-link">Info</a>
						</li>
						<li class="nav-item">
							<a href="contact.html" class="nav-link"
								>Contact Us</a
							>
						</li>
						<li class="nav-item">
							<a href="#" class="nav-link">LOG OUT</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>

		<!--Body-->
        <div class="container">
            <h1 id="team-name-result" class="text-sm-left text-center">RESULTS</h1>
        </div>

        <hr style="background: #ddd; height: 1px; width: 95%" />
        
        <div class="container">
            <h3 class="py-3">ROUND 1</h3>
            <p style="background-color: #eee;" class="text-success"><b>Round 1 result</b> goes here.</p>
            <h3 class="py-3">ROUND 2</h3>
            <input type="search" name="search" placeholder="Search..."/>
        </div>

        <div class="container mt-4 pb-5">
            <div id="rankings">
                <div class="row mx-0 tr">
                    <div class="col-8 th py-2">
                        <h3 class="mb-0 py-1">Team Name</h3>
                    </div>
                    <div class="col-4 th py-2">
                        <h3 class="mb-0 py-1">Scores</h3>
                    </div>
                </div>
                <div class="row mx-0 tr">
                    <div class="col-8 td py-1">
                        <p class="mb-0 py-1 p-0">Team Name</p>
                    </div>
                    <div class="col-4 td py-1">
                        <p class="mb-0 py-1 p-0">Scores</p>
                    </div>
                </div>
                <div class="row mx-0 tr">
                    <div class="col-8 td py-1">
                        <p class="mb-0 py-1 p-0">Team Name</p>
                    </div>
                    <div class="col-4 td py-1">
                        <p class="mb-0 py-1 p-0">Scores</p>
                    </div>
                </div>
            </div>
        </div>

        
	</body>
</html>
