<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verification Expired</title>
</head>
<body>
    Verification Link Expired!
    <br>
    <a href="/login">Login again</a> to resend link.
</body>
</html>