@media (min-width: 200px) {
	h1 {
		font-size: 2.5rem;
	}
	h3 {
		font-size: 1.09rem;
	}
}

/* Small devices */

@media (min-width: 544px) {
	h1 {
		font-size: 2.5rem;
	}
	h3 {
		font-size: 1.09rem;
	}
}

/* Medium devices */

@media (min-width: 768px) {
	h1 {
		font-size: 3rem;
	}
	h3 {
		font-size: 1.2rem;
	}
}

/* Large devices */

@media (min-width: 992px) {
	h1 {
		font-size: 3.5rem;
	}
	h3 {
		font-size: 1.2rem;
	}
}

/* Extra large devices */

@media (min-width: 1200px) {
	h1 {
		font-size: 3.5rem;
	}
	h3 {
		font-size: 1.2rem;
	}
}

.navbar {
	background-color: #dfdafd;
	height: 10vh;
	z-index: 20;
}

#navbarid {
	background-color: #dfdafd;
	z-index: 25;
}

.navbar-brand {
	color: #3f3d56;
	font-weight: bold;
}

.navbar-brand:hover {
	color: #3f3d56;
}

.nav-item {
	margin-left: 20px;
	margin-right: 20px;
}

.nav-link {
	color: #3f3d56;
	transition: all 0.2s ease-in-out;
}

.nav-link:hover {
	color: #3f3d56;
	font-weight: bold;
	transform: scale(1.1);
}

#cover {
	color: #5390f5;
	background-image: url('../images/rocket.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	margin-bottom: 0px;
}
.welcome {
	height: 80vh;
}
.info {
	height: 70vh;
}
.next-button {
	background-color: #fff;
	border: #fff 0;
	padding: 0% 3% 3% 3%;
	fill: #3f3d56;
	align-content: center;
}
.title {
	color: #3f3d56;
	font-family: 'Rubik', sans-serif;
	font-weight: bold;
	padding: 30px 30px 30px 30px;
}

#landing-title {
	margin-top: 30px;
}

#team-name {
	color: #3f3d56;
	font-family: 'Rubik', sans-serif;
	font-weight: bold;
	padding-top: 20px;
}

@media (min-width: 576px) {
	#team-name {
		padding-top: 50vh;
		transform: translate(0, -50%);
	}
}

#sub-heading {
	color: #3f3d56;
	font-family: 'Rubik', sans-serif;
	font-weight: bold;
	letter-spacing: 2px;
	padding: 2% 5% 2% 5%;
}

#sub-heading1,
#sub-heading2,
#sub-heading3 {
	color: #3f3d56;
	font-family: 'Rubik', sans-serif;
	font-weight: bold;
	padding: 10px 10px 10px 0px;
}

#sub-heading1::after,
#sub-heading3::after {
	content: '';
	display: block;
	width: 50%;
	border-bottom: 2px solid #3f3d56;
}

#sub-heading2::after {
	content: '';
	display: block;
	width: 40%;
	border-bottom: 2px solid #3f3d56;
}

#tabs {
	color: #5390f5;
	font-family: 'Rubik', sans-serif;
	font-weight: thin;
	margin: 5% 5% 5% 5%;
	display: inline;
}
#announcement {
	color: red;
	font-family: 'Rubik', sans-serif;
	font-weight: thin;
	margin: 5% 20% 5% 5%;
	display: inline;
}

p {
	padding: 20px;
}

.footer {
	height: 15%;
}

#login {
	background-color: #ffffff;
	border-radius: 35px;
	box-shadow: 0px 0px 10px 6px #00000050;
}

.btn {
	color: #ffffff;
	background-color: #5390f5;
	border-color: #5390f5;
	margin-top: 20px;
	margin-bottom: 20px;
}

form {
	color: #3f3d56;
	font-family: 'Rubik', sans-serif;
}

label {
	color: #3f3d56;
	font-family: 'Rubik', sans-serif;
}

#register {
	background-color: #ffffff;
	border-radius: 35px;
	box-shadow: 0px 0px 10px 6px #00000050;
}

.container {
	margin: auto;
}

#contactUs-img-div {
	height: 20vh;
	margin-bottom: 10%;
}
#contactUs-img {
	height: 40vh !important;
}
#teams-img1 {
	height: 40vh !important;
}

.body-text {
	color: #aaaaaa;
	font-family: 'Rubik', sans-serif;
}

@media (min-width: 576px) {
	#chat-click {
		transform: translate(0, -30vh);
	}
}

.map-responsive {
	overflow: hidden;
	padding-bottom: 50%;
	position: relative;
	height: 0;
}

.map-responsive iframe {
	left: 0;
	top: 0;
	height: 75%;
	width: 75%;
	position: absolute;
}

#carousel-main {
	margin: 5% 5% 5% 5%;
	padding: 0% 10% 0% 10%;
}

.carousel-inner img {
	width: 100%;
}

.carousel-control-prev-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%233F3D56' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%233F3D56' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

/*Milestones*/

.milestones {
	position: relative;
	margin: 5% 8% 8% 8%;
}
.progress-bar {
	background-image: -webkit-linear-gradient(top, #89cdef 0%, #5390f5 100%);
	background-image: -o-linear-gradient(top, #89cdef 0%, #5390f5 100%);
	background-image: linear-gradient(to bottom, #89cdef 0%, #5390f5 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff89cdef', endColorstr='#ff81bfde', GradientType=0);
}
.forward {
	background-image: -webkit-linear-gradient(top, #fff 0%, #fff 100%);
	background-image: -o-linear-gradient(top, #fff 0%, #eeeeee 100%);
	background-image: linear-gradient(to bottom, #fff 0%, #fff 100%);
}
.past {
	background-color: #337ab7;
	background-image: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 100%);
	background-image: -o-linear-gradient(top, #ffffff 0%, #ffffff 100%);
	background-image: linear-gradient(to bottom, #ffffff 0%, #ffffff 100%);
}
.tick {
	position: absolute;
	top: -6px;
	display: inline-block;
	height: 23px;
	width: 25px;
	border: 1px solid #5390f5;
	border-radius: 5px;
}
.progress {
	height: 10px;
}
.first {
	left: -5px;
}
.last {
	right: -5px;
}
.tick-label {
	display: inline-block;
	position: absolute;
	top: 30px;
}
.tick .fa {
	font-size: 32px;
	margin-top: -10px;
	margin-left: -1px;
}
.checkmark {
	background-image: -webkit-linear-gradient(top, #ffff00 0%, #00b32d 100%);
	background-image: -o-linear-gradient(top, #ffff00 0%, #00b32d 100%);
	background-image: linear-gradient(to bottom, #ffff00 0%, #00b32d 100%);
	color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
}
.checks {
	color: #3f3d56;
}
.alt-label span {
	text-transform: uppercase;
	color: #3f3d56;
}
.alt-label {
	display: none;
	margin-top: 65px;
	text-align: center;
	color: #5390f5;
}
@media (max-width: 765px) {
	.alt-label {
		display: block;
	}
	.labels label span {
		display: none;
	}
	.labels label:first-child:before {
		content: 'Member';
		position: relative;
		left: 5px;
		color: #3f3d56;
	}
	.labels label:nth-child(2):before {
		content: 'Payment';
		position: relative;
		left: 10px;
		color: #3f3d56;
		overflow-wrap: break-word;
	}
	.labels label:nth-child(3):before {
		content: 'Abstract';
		position: relative;
		left: 10px;
		color: #3f3d56;
	}
	.labels label:last-child:before {
		content: 'DONE!';
		position: relative;
		left: -5px;
		color: #3f3d56;
	}
}

/* Chatbox */

.chatbox-home {
	width: 400px;
	height: 500px;
	z-index: 2;
	border: solid 1px #5390f5;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.chat-home-text {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.chat-send {
	border-radius: 0;
}

.chat-send-txtar {
	flex-grow: 1;
	resize: none;
	border-right: none;
}

.chat-send-txtar:focus {
	outline: none;
}

#chats::-webkit-scrollbar,
textarea::-webkit-scrollbar {
	width: 3px;
}

#chats::-webkit-scrollbar-track,
textarea::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
}

#chats::-webkit-scrollbar-thumb,
textarea::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

/* //Chatbox */
